@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DemeterShop!</h1>
    <a>Explore the world of flowers and may the nature be with you!</a>
    <p></p>
    <p><a>ONLY TODAY! You pay three plants but get four!</a></p>
</div>
